* {
    box-sizing: border-box;
}

main {
    padding: 50px;
}

.answers {
    background-color: lightcyan;
    border: none;
    padding: 8px;

}

.text {
    height: 25px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
    background-color:  #467AFF;
    color: white;
}