* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial,sans-serif;
    font-size: 13px;
}
body {
    margin: 10px;
}


nav {
<<<<<<< HEAD
    width: 100%;
=======
    width: 100%;  
>>>>>>> 838caa5a9db0e8dc69ccf4c1d1fbbdd1415eb47d
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
<<<<<<< HEAD
=======

>>>>>>> 838caa5a9db0e8dc69ccf4c1d1fbbdd1415eb47d
nav a {
    margin: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
nav a:hover {
    text-decoration: underline;
}
nav span {
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 800;
}
main {
    height: 70vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    
}
main img {
    height: 92px;
    width: 272px;
    
}
form {
    margin: 20px;
}
#search{
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
    padding: 15px;
}
#search:focus {
    outline: none;
}
form {
    display: flex;
    flex-direction: column;
}
.googleButtons {
    display: flex;
    justify-content: center;
}

#search:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.searchButtons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.searchButtons:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.h1Advanced {
    color: #d93025;
    font-size: 20px;
    margin: 25px 20px;
}
.line {
    border-bottom: 1px solid #ebebeb
}
.h2Advanced {
    font-size: 16px;
    color: #333333;
}
.divAdvanced {
    margin: 20px;
}

.advInput {
    display: flex;
    align-items: center;
}
.advInput input {
    width: 300px;
    height: 25px;
    outline:none;
}
.left {
   width: 200px;
   margin: 5px 0;
}
.right {
    margin: 5px 0;
}

.advInput input:focus {
    outline: 0.5px solid rgba(0, 0, 255, 0.5);
}
.button {
    display: flex;
    justify-content: flex-end;
    width: 500px;
    margin: 5px 0;
}
form #button {
    height: 30px;
    box-shadow: none;
    background-color: #4d90fe;
    
    border: 1px solid #3079ed;
    color: #fff;
    min-width: 120px;
    padding: 0 12px;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    
}
.button #button:hover {
    background-color: #357ae8;
    
}
.button #button:active {
    background-color: #357ae8;   
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav img {
    height: 24px;
}
.logo {
    padding: 10px;
}
.nav .menu {
    display: flex;
    align-items: center;
}
.menu a, span {
    margin: 5px;
}
