* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial,sans-serif;
    font-size: 13px;
}
nav {
    display: flex;
    justify-content: right;
}
nav a {
    margin: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}
nav a:hover {
    text-decoration: underline;
}
nav span {
    margin: 15px;
    margin-top: 18px;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 800;
}
main {
    height: 70vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main img {
    height: 92px;
}
form {
    margin: 20px;
}
#search{
     display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
    padding: 15px;
}
#search:focus {
    outline: none;
}
form {
    display: flex;
    flex-direction: column;
}
.googleButtons {
    display: flex;
    justify-content: center;
}

#search:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.searchButtons {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.searchButtons:hover {
    border: 1px solid rgba(0, 0, 0, 0.2);
}